.hamburger {
    display: none;
}

@media (max-width: 767px) {
    /* 576 */
    .hamburger {
        display: block;
        position: absolute;
        padding: 5px;
        top: 22px;
        right: 18px;
        width: 40px;
        height: 32px;
        font-size: 30px;
        z-index: 10;
        background-color: transparent;
        border: 1px solid rgba(255,255,255,.4);
        transition: all .3s;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        &__span {
            transition: all .3s;
            display: block;
            position: absolute;
            height: 2px;
            width: 28px;
            background: #fff;
            -webkit-border-radius: 9px;
            border-radius: 9px;
            opacity: 1;
            &:nth-child(2) {
                top: 14px;
            }
            &:nth-child(3) {
                top: 22px;
            }
            &_active {
                &:nth-child(1) {
                    top: 15px;
                    -webkit-transform: rotate(135deg);
                    -moz-transform: rotate(135deg);
                    -o-transform: rotate(135deg);
                    transform: rotate(135deg);
                  }
                  &:nth-child(2) {
                    opacity: 0;
                  }
                  
                  &:nth-child(3) {
                    top: 15px;
                    -webkit-transform: rotate(-135deg);
                    -moz-transform: rotate(-135deg);
                    -o-transform: rotate(-135deg);
                    transform: rotate(-135deg);
                  }
            }
        }
        
    }
}

