@import '../../styles/variables.module.scss';

.userform {
    position: fixed;
    z-index: 1;
    bottom: 88px;
    right: 20px;
    max-width: 310px;
    background: #fff;
    border-left: 5px solid $main-color;
    border-radius: 12px;
    &__card {
        border-radius: 5px;
        padding: 16px;
        width: 100%;
        background-color: $main-color;
        text-align: center;
    }
    &__title {
        color: $white-color;
        font-size: 16px;
        font-weight: 700;
    }
    &__wrapper {
        position: relative;
        padding: 0 16px;
    }
    &__label {
        pointer-events: none;
        transition: all 0.5s ease-in-out;
        position: absolute;
        top: 6px;
        left: 26px;
        color: $main-color;
        &_up {
            background-color: #fff;
            top: -10px;
            left: 26px;
        }
    }
    &__input {
        width: 100%;
        display: block;
        color: $main-color;
        padding: .5rem 1rem;
        border: 1px solid $main-color;
        border-radius: 5px;
        &:nth-child(1) {
            margin-top: 20px;
        }
        &:focus{
            outline: 2px solid $main-color;
        }
    }
    &__btn {
        display: block;
        margin: 20px auto 20px auto;
    }
}