@import '../../styles/variables.module.scss';

.tabs {
    padding: 70px 0;
    width: 100%;
    min-height: 400px;
    color: $black-color;
    &__nav {
        margin: 0 auto;
        max-width: 504px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

&__contenttab{
    margin-top: 20px;
    display: grid;
    justify-content: center;
    grid-template: repeat(2, 320px) / repeat(3, 32%);
    grid-auto-rows: 380px;
    gap: 5px 5px;

}
&__wrapper {
    cursor: pointer;
    position: relative;
    transition: all 0.6s;
    &:hover {
        transform: scale(1.03);
        .tabs__overlay {
            background-color: rgba($main-color, 0.8);
            svg {
                path{
                    fill: $white-color;
                }
            }
        }

    }
}
&__img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
&__overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: transparent;
    & svg {
        margin: 0 auto;
        display: block;
        width: 65px;
        height: 65px;
        path {
            fill: $main-color;
        }
    }
}
&__title {
    font-size: 18px;
    color: $white-color;
}
&__btn {
    width: 238px;
    background-color: transparent;
    box-shadow: 0px 0px 5px #3f3689;
    color: $black-color;
    &_active {
        background: #3f3689;
        box-shadow: 0px 0px 5px #3f3689;
        color: $white-color;
    }
}
}
