@import '../../styles/variables.module.scss';

.title {
    max-width: fit-content;
    position: relative;
    display: block;
    margin: 0 auto 70px auto;
    font-size: 30px;
    color: $main-color;
    font-weight: 700;
    text-transform: uppercase;
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 70px;
        height: 2px;
        background-color: $main-color;
    }
}

@media (max-width: 991px) {
    /* 768 */
    .title {
        text-align: left;
        font-size: 28px;
    }
}

@media (max-width: 767px) {
    /* 576 */
    .title {
        font-size: 24px;
        margin-bottom: 14px;
    }
}