@import '../../styles/style.module.scss';

.policy {
    padding-bottom: 70px;
    &__title {
        margin-top: 70px;
    }
    &__subtitle {
        margin-top: 15px;
        font-size: 18px;
        font-weight: 700;
        color: $black-color;
    }
    &__li {
        margin-top: 15px;
        font-size: 18px;
        font-weight: 400;
        color: $black-color;
    }
}