@import '../../styles/variables.module.scss';

.navigationitem {
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: $white-color;
    text-decoration: none;
    &_active {
        font-weight: 700;
  }
}