@import '../../../styles/variables.module.scss';

.button {
  width: 238px;
  height: 45px;
  background: $main-color;
  box-shadow: 5px 5px 10px $main-color;
  border-radius: 4px;
  border: none;
  padding: 0 29px;
  font-weight: 700;
  line-height: 44px;
  font-size: 18px;
  letter-spacing: .4px;
  color: $white-color;
  text-decoration: none;
  transition: 0.5s;
  cursor: pointer;
  outline: 0;
  &_inactive {
    background-color: transparent;
    box-shadow: 0px 0px 5px $main-color;
    color: $black-color;
  }
}
  
.button:hover,
.button:active {
  box-shadow: 8px 8px 30px $main-color;
}
