.numericinfo{
    min-height: 474px;
    padding: 130px 0;
    &__header {
        margin-bottom: 30px;
    }
    &__list {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    
}