@import '../../../../../styles/variables.module.scss';
.advitem {
    max-width: 286px;
    height: 130px;
    margin-bottom: 30px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__subtitle {
        font-size: 18px;
        font-weight: 700;
        color: $black-color;
    }
    &__icn {
        justify-self: start;
        width: 70px;
        height: 70px;
        path {
            fill: $main-color;
        }
        &_right {
            order: +1;
        }
        &_left {
            order: -1;
        }

    }
    &__description {
        margin-top: 15px;
        justify-self: center;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        color: $black-color;
    }
}