@import '../../../styles/variables.module.scss';

.numericitem {
    &__img {
        width: 180px;
        height: 180px;
        & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            path {
                fill: $main-color;
            }
        }
    }
    &__amount {
        font-size: 68px;
        font-weight: 500;
        text-align: center;
        color: $black-color;
    }
    &__title {
        font-size: 30px;
        font-weight: 400;
        text-align: center;
        color: $main-color;
    }

}