@import '../../../styles/variables.module.scss';

.wrapper {
    position: relative;
    padding: 0 16px;
}
.label {
    pointer-events: none;
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 6px;
    left: 26px;
    color: $main-color;
    &_up {
        background-color: #fff;
        top: -10px;
        left: 26px;
    }
}
.input {
    width: 100%;
    display: block;
    color: $main-color;
    padding: .5rem 1rem;
    border: 1px solid $main-color;
    border-radius: 5px;
    &:nth-child(1) {
        margin-top: 20px;
    }
    &:focus{
        outline: 2px solid $main-color;
    }
}