@import '../../styles/variables.module.scss';

.contactus {
    position: fixed;
    z-index: 1;
    bottom: 20px;
    right: 20px;
    &__btn {
        animation: pulse 1s infinite;
        animation-iteration-count: 3;
        cursor: pointer;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: $main-color;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__icn {
        animation: iconanimation 1s linear ;
    }
    svg {
        width: 28px;
        height: 30px;
    }
    path {
        fill: $white-color;
    }
}

@keyframes iconanimation {
    0% {
        opacity: 0;
        transform: scale(.5);
    }
    
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes pulse {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}