@import '../../../../styles/variables.module.scss'; 

.continfo {
    padding: 70px 0;
    &__wrapper {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    &__info {
        max-width: 48%;
    }
    &__map {
        width: 540px;
        height: 340px;
        iframe {
            border: 2px $main-color solid;
            width: 100%;
            height: 100%;
        }
    }
    &__description {
        color: $black-color;
        font-size: 18px;
        font-weight: 400;
    }
    &__subtitle {
        color: $black-color;
        font-size: 18px;
        font-weight: 700;
        margin-top: 20px;
    }
    &__contactlink {
        margin-top: 20px;
        align-items: center;
        max-width: 190px;
        & p {
            font-size: 18px;
            color: $black-color;
        }
        svg {
            width: 30px;
            height: 30px;
            path{
                fill: $main-color;
            }
        }
    }
}

@media (max-width: 1199px) {
    /* 992 */
    .continfo {
        &__map {
            width: 440px;
            height: 340px;
        }
    }
}
@media (max-width: 991px) {
    /* 768 */
    .continfo {
        &__info {
            max-width: 98%;
        }
        &__map {
            width: 800px;
            height: 440px;
        }
        &__subtitle {
            text-align: center;
        }
        &__contactlink {
            margin: 20px auto 0 auto;
        }
        &__description {
            text-align: center;
        }
        &__map {
            margin: 15px auto 0 auto;
        }
    }
}