.numericinfo{
    min-height: 474px;
    padding: 70px 0;
    &__list {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    
}