.numericinfo{
    min-height: 474px;
    padding: 70px 0 0 0;
    &__list {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }
}

@media (max-width: 1199px) {
    /* 992 */
    .numericinfo{
        min-height: 432px;
    }
}

@media (max-width: 767px) {
    /* 576 */
    .numericinfo {
        min-height: 370px;
        &__list {
            gap: 20px;
            justify-content: center;
        }
    }
}
@media (max-width: 575px) {
    /* 320 */
    .numericinfo {
        &__list {
            flex-direction: column;
            align-items: center;
        }
    }
}