@import '../../styles/variables.module.scss';

.nonexisting{
    background: $main-color; 
    height: 100vh;
    &__title {
        padding-top: 200px;
        text-align: center;
        font-weight: 700;
        font-size: 100px;
        color: $white-color;
    }
    &__descr {
        text-align: center;
        font-weight: 700;
        font-size: 36px;
        color: $white-color;
    }
    &__link {
        display: 'block';
        text-align: center;
        font-weight: '400';
        font-size: 24px;
        margin-top: 30px;
        text-decoration: underline;
    }
}