@import '../../../styles/variables.module.scss';
.howtoinstall {
    &__item {
        max-width: 230px;
        display: flex;
        flex-direction: column;
        align-items: center;   
        position: relative;
        &:not(:last-child):after {
            content: '';
            display: block;
            position: absolute;
            left: 100%;
            top: 25%;
            width: 70px;
            height: 2px;
            background-color: $main-color;
        }
    }

    &__icn {
        width: 90px;
        height: 90px;
        background-color: $main-color;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
            width: 60px;
            height: 60px;
            path {
                fill: $white-color;
            }
        }
    }
    &__subtitle {
        height: 66px;
        margin: 15px auto 0;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
    }
    &__order {
        color: $main-color;
        margin-top: 20px;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
    }
}