.contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 166px;
    align-items: center;
    &__icn {
        display: block;
        margin-right: 18px;
        width: 23px;
        height: 23px;
    }
    &__text {
        display: block;
        color: #fff;
        font-size: 12px;
        margin: 3px 0;
        text-align: center;
    }
}

@media (max-width: 767px) {
    /* 576 */
    .contact {
        &__text {
            font-size: 16px;
        }
    }
}

@media (max-width: 575px) {
    /* 320 */
    .contact {
        &__icn {
            margin-right: 8px;
        }
    }
}