@import '../../styles/variables.module.scss';

.navigation {
    padding: 0 100px 0 100px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white-color;
}

@media (max-width: 767px) {
    /* 576 */
    .navigation {
        justify-content: space-between;
        flex-direction: column;
        height: 160px;
        text-align: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: 0;
        padding-top: 12px;
    }
}