@import '../../styles/variables.module.scss';

.navigation {
    padding: 0 100px 0 100px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white-color;
}

@keyframes fade-in {
    0% { opacity: 0; height: 0; }
    100% { opacity: 1; height: 160px; }
  }

@media (max-width: 767px) {
    /* 576 */
    .navigation {
        justify-content: space-between;
        flex-direction: column;
        height: 160px;
        text-align: center;
        margin-top: 0;
        padding-top: 12px;
        animation: fade-in 0.5s ease-in;
        &_hidden {
            display: none;
        }
    }
}
