@import '../../styles/variables.module.scss';
.footer{
    padding: 21px 0 30px;
    background: $main-color;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    &__title{
        text-transform: uppercase;
        color: $white-color;
        font-weight: 700;
        font-size: 18px;
    }
    &__icn {
        display: block;
        width: 60px;
        height: 60px;
        
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__contacts {
        max-width: 635px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    &__social {
        display: flex;
        align-items: center;
    }
    &__socialitem {
        font-size: 18px;
        color: $white-color;
        margin-right: 16px;
        display: flex;
        align-items: center;
    }
    &__policy {
        display: block;
        text-decoration: none;
        color: $white-color;
        font-size: 12px;
        text-align: center;
    }
}

@media (max-width: 991px) {
    /* 768 */
    .footer{
        &__wrapper {
            flex-wrap: wrap;
        }
        &__logo, &__contacts {
            margin: 0 auto;
        }
        &__policy {
            margin-top: 10px;
        }
    }
}

@media (max-width: 575px) {
    /* 320 */
    .footer {
        &__social {
            margin: 15px 0;
        }
        &__policy {
            margin-top: 15px;
        }
    }
}