@import '../../styles/variables.module.scss';

.slider {
    overflow: hidden;
    position: relative;
}

.slide-list {
  display: flex;
  height: 100%;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}
.slide {
  flex: 1 0 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}
.slide__wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.slide-image {
  display: flex;
  margin: 0 auto;
  max-height: 500px;
  width: 100%;
  object-fit: cover;
  &_subdivided {
    border-radius: 50%;
    max-width: 300px;
  }
}
.slide-text {
  margin-left: 20px;
  max-width: 400px;
}
.slide-title {
  font-weight: 700;
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
}
.slide-description {
  font-weight: 400;
  font-size: 18px;
}

.dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  z-index: 2;
}
.dot {
  background-color: #e7e7e7;
  border-radius: 100%;
  height: 15px;
  margin: 5px;
  width: 15px;

  &:hover {
    cursor: pointer;
  }

  &.selected {
    background-color: $main-color;
  }
}

.arrows {
  display: flex;
  justify-content: space-between;
  height: 100%;
  position: absolute;
  top: 40%;
  width: 100%;
  z-index: 1;
}

.arrow {
  height: 50px;
  width: 50px;

  &:hover {
    cursor: pointer;
  }

  &_left {
    background-image: url(../../resources/slider/icns/arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 25px;
    transform: rotate(
180deg);
  }

  &_right {
    background-image: url(../../resources/slider/icns/arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 25px;
  }
}